.product {
    width: 230px;
    padding: 9px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

.product .product-border {
    border-radius: 8px;
    min-height: 300px;
}

.product:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.product img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}


.product p {
    margin: 8px;
    font-size: 13px;
    word-wrap: break-word;
    width: 75%;
    margin: auto;
    text-align: center;
}

.product .product-title {
    font-size: 16px;
    font-weight: bold;
}

.add-to-shopping-cart {
    padding: 3px;
    font-family: IRANSans;
    border: 1px solid rgb(177, 177, 177);
    background-color: white;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.add-to-shopping-cart:hover {
    background-color: rgb(168, 0, 0);
    color: white;
}

.add-to-shopping-cart span {
    display: block;
    margin: auto 4px;
}

